{
  "openapi": "3.0.0",
  "info": {
    "title": "EasyDMARC API",
    "version": "1.0.0",
    "description": "EasyDMARC Public API Documentation",
    "contact": {
      "name": "EasyDMARC",
      "url": "https://easydmarc.com"
    },
    "x-logo": {
      "url": "https://easydmarc.com/img/logo.png",
      "backgroundColor": "#FFFFFF",
      "altText": "EasyDMARC"
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "x-displayName": "Authentication"
    },
    {
      "name": "Domains",
      "x-displayName": "Domains"
    },
    {
      "name": "Alerting",
      "x-displayName": "Alerting"
    },
    {
      "name": "DNS Lookup",
      "x-displayName": "DNS Lookup"
    },
    {
      "name": "Aggregate Reports",
      "x-displayName": "Aggregate Reports"
    },
    {
      "name": "Audit Log",
      "x-displayName": "Audit Log"
    },
    {
      "name": "Failure Reports",
      "x-displayName": "Failure Reports"
    },
    {
      "name": "Organizations",
      "x-displayName": "Organizations"
    },
    {
      "name": "Billing - Subscriptions & Pricing",
      "x-displayName": "Billing - Subscriptions & Pricing"
    },
    {
      "name": "Users",
      "x-displayName": "Users"
    }
  ],
  "paths": {
    "/v1/domains/overview": {
      "servers": [],
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "List domains with the domain details",
        "description": "",
        "operationId": "getDomainsOverview",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "$ref": "#/components/schemas/OrganizationIdField"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Start Date"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "End Date"
                  },
                  "page": {
                    "type": "number"
                  },
                  "pageSize": {
                    "type": "number",
                    "default": 1
                  },
                  "filters": {
                    "description": "Filter conditions for the search.",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/FilterCondition"
                      },
                      {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/FilterCondition"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with a list of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "GetDomainsOk",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DomainOverview"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/domains": {
      "servers": [],
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create new domain",
        "operationId": "createDomain",
        "requestBody": {
          "description": "Request payload for creating one or more domains.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "groupId": {
                    "type": "string"
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "organizationId": "org_68267af02750d5671394546e",
                    "domain": "lurline.info",
                    "type": "sending",
                    "groupId": "dmngrp_68267f052750d56713945475"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "organizationId": "org_68267af02750d5671394546e",
                    "domain": "lurline.info",
                    "type": "sending",
                    "groupId": "dmngrp_68267f052750d56713945475"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                },
                "examples": {
                  "success": {
                    "value": {
                      "domain": "anderson.biz",
                      "domainVerified": false,
                      "type": "sending",
                      "policy": "missing",
                      "logoUrl": "http://company.com/favicon.png",
                      "domainGroup": "group1",
                      "domainGroupId": "dmngrp_42517f052750d56713945475"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domains",
        "operationId": "getDomains",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "readOnly": true,
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": [
                        {
                          "domain": "easydmarc.com",
                          "domainVerified": false,
                          "type": "sending",
                          "policy": "reject",
                          "logoUrl": "https://assets.easydmarc.com/favicons/2025-04/easydmarc_1744732732290.png",
                          "domainGroup": "Default Group",
                          "domainGroupId": "dmngrp_34267f052750d56713945475"
                        },
                        {
                          "domain": "easydmarc.corg",
                          "domainVerified": false,
                          "type": "sending",
                          "policy": "reject",
                          "logoUrl": "https://assets.easydmarc.com/favicons/2025-04/easydmarc_1744732732290.png",
                          "domainGroup": "Default Group",
                          "domainGroupId": "dmngrp_56267f052750d56713945475"
                        }
                      ],
                      "meta": {
                        "total": 2,
                        "page": 1,
                        "pageCount": 1,
                        "limit": 20,
                        "hasPreviousPage": false,
                        "hasNextPage": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/domains/batch": {
      "servers": [],
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create new domains in batch",
        "operationId": "createDomainsBatch",
        "requestBody": {
          "description": "Request payload for creating one or more domains.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "type": "string"
                  },
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "domainName": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "groupId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "domainName",
                        "type",
                        "groupId"
                      ]
                    }
                  }
                },
                "required": [
                  "organizationId",
                  "domains"
                ],
                "x-examples": {
                  "Example 1": {
                    "organizationId": "org_6825fd937307b513490da37c",
                    "domains": [
                      {
                        "domainName": "domain1.com",
                        "type": "sending",
                        "groupId": "dmngrp_682b42fc6ef3ac50b4ca4fce"
                      },
                      {
                        "domainName": "domain2.com",
                        "type": "parked",
                        "groupId": "dmngrp_682b42d86ef3ac50b4ca4fcd"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "single": {
                  "value": {
                    "organizationId": "org_6825fd937307b513490da37c",
                    "domains": [
                      {
                        "type": "sending",
                        "groupId": "dmngrp_682b42fc6ef3ac50b4ca4fce",
                        "domainName": "example.com"
                      }
                    ]
                  }
                },
                "multiple": {
                  "value": {
                    "organizationId": "org_6825fd937307b513490da37c",
                    "domains": [
                      {
                        "domainName": "domain1.com",
                        "type": "sending",
                        "groupId": "dmngrp_682b42fc6ef3ac50b4ca4fce"
                      },
                      {
                        "domainName": "domain2.com",
                        "type": "parked",
                        "groupId": "dmngrp_682b42d86ef3ac50b4ca4fcd"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                },
                "examples": {
                  "success": {
                    "value": [
                      {
                        "domains": [
                          {
                            "domain": "jermey.com",
                            "domainVerified": false,
                            "type": "sending",
                            "policy": "missing",
                            "logoUrl": "https://dev-assets.easydmarc.com/favicons/2025-05/jermey_1747354403003.png",
                            "domainGroup": "group1",
                            "domainGroupId": "dmngrp_62587f052750d56713945475"
                          },
                          {
                            "domain": "iva.com",
                            "domainVerified": false,
                            "type": "sending",
                            "policy": "missing",
                            "logoUrl": "",
                            "domainGroup": "group1",
                            "domainGroupId": "dmngrp_53627f052750d56713945475"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/domains/{domain}": {
      "servers": [],
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get domain by ID",
        "operationId": "getDomainById",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "put": {
        "tags": [
          "Domains"
        ],
        "summary": "Update an existing domain",
        "operationId": "updateDomain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain update payload. All fields must be provided.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "organizationId": "00000000-0000-0000-0000-000000000000",
                    "type": "sending",
                    "groupId": "ab34-c624-bc7b-7820-c8a9-cd4f-e910-3b23",
                    "domain": "example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ],
        "x-internal": true
      },
      "patch": {
        "tags": [
          "Domains"
        ],
        "summary": "Partially update a domain",
        "operationId": "patchDomain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partial update payload for the domain.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domainName": {
                    "type": "string"
                  },
                  "type": {
                    "$ref": "#/components/schemas/DomainType"
                  },
                  "groupId": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "groupId": "new-group-123",
                    "domainName": "example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain partially updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete a domain",
        "operationId": "deleteDomain",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted successfully"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/domains/{domain}/setup": {
      "servers": [],
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get setup info",
        "description": "Returns the DMARC record to be added to DNS\n\nSet up a DMARC record in the DNS provider account. \n\nNote: DNS propagation may take up to several hours.\n",
        "operationId": "get-domains-domain-setup",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Record type, CNAME or TXT",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CNAME",
                "TXT"
              ],
              "examples": [
                "CNAME"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "name": "domain",
            "in": "path",
            "description": "Domain name",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "domain1.com"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated DMARC record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "host": {
                      "type": "string",
                      "examples": [
                        "_dmarc.domain1.com"
                      ]
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "cname",
                        "txt"
                      ],
                      "default": "txt",
                      "examples": [
                        "cname"
                      ]
                    },
                    "value": {
                      "type": "string",
                      "examples": [
                        "_dmarc.domain1_com._d.easydmarc.com"
                      ]
                    }
                  },
                  "required": [
                    "host",
                    "type",
                    "value"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "host": "_dmarc.domain1.com",
                      "type": "txt",
                      "value": "v=DMARC1;p=none;rua=mailto:4cc3eb3955@dev-rua.easydmarc.com;ruf=mailto:4cc3eb3955@dev-rua.easydmarc.com;fo=1;"
                    }
                  },
                  "Example 2": {
                    "value": {
                      "host": "_dmarc.domain2.com",
                      "type": "cname",
                      "value": "_dmarc.domain2_com._d.easydmarc.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Verify domain",
        "description": "Not available yet",
        "operationId": "post-domains-domain-setup",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "managed": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {},
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/domains/search": {
      "servers": [],
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "🚧 Search and filter domains with advanced filtering and ordering",
        "operationId": "searchDomains",
        "requestBody": {
          "description": "Domain search request payload including filters, ordering, pagination, and requested properties.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainSearchRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "organizationId": "00000000-0000-0000-0000-000000000000",
                    "page": 1,
                    "order": [
                      {
                        "orderBy": "volume",
                        "direction": "desc"
                      }
                    ],
                    "filter": {
                      "operator": "AND",
                      "conditions": [
                        {
                          "field": "status",
                          "value": "active",
                          "operator": "eq"
                        }
                      ]
                    },
                    "domains": [
                      "example.com",
                      "example.org"
                    ],
                    "pageSize": 50,
                    "properties": [
                      "domainName",
                      "volume",
                      "dmarc"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of domains matching the search criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "SearchDomainsOk",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DomainOverview"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/domain-groups": {
      "servers": [],
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domain groups",
        "operationId": "listDomainGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of domain groups.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "GetDomainGroupsOk",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DomainGroup"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": [
                        {
                          "id": "00000000-0000-0000-0000-000000000000",
                          "name": "Group 1",
                          "domains": [
                            "domain1.com",
                            "domain2.com",
                            "domain3.com"
                          ]
                        }
                      ],
                      "meta": {
                        "pageSize": 10,
                        "page": 1,
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create a new domain group",
        "operationId": "createDomainGroup",
        "requestBody": {
          "description": "Domain group creation payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainGroupRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "organizationId": "org_68231dcfeb8e9f092a052b88",
                    "name": "Group 1",
                    "domains": [
                      "domain1.com",
                      "domain2.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainGroup"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "name": "Group 1",
                      "domains": [
                        "domain1.com",
                        "domain2.com",
                        "domain3.com"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/domain-groups/{id}": {
      "servers": [],
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get domain group details",
        "operationId": "getDomainGroupById",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with domain group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainGroup"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "name": "Group 1",
                      "domains": [
                        "domain1.com",
                        "domain2.com",
                        "domain3.com"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "put": {
        "tags": [
          "Domains"
        ],
        "summary": "Update an existing domain group",
        "operationId": "updateDomainGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain group update payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "policy": "reject",
                    "spf_record": "v=spf1 include:example.com ~all",
                    "bimi_record": "v=BIMI1; l=https://example.com/logo.svg",
                    "dmarc_record": "v=DMARC1; p=reject",
                    "favicon_path": "https://example.com/favicon.ico",
                    "has_easy_spf": false,
                    "total_volume": 1600,
                    "domain_labels": "label1, label2",
                    "spf_pass_rate": 99,
                    "dkim_pass_rate": 97,
                    "dkim_selectors": "default",
                    "partner_owners": "Partner Inc.",
                    "compliance_rate": 96,
                    "group_object_id": "group-a",
                    "compliant_volume": 1500,
                    "has_managed_bimi": false,
                    "has_managed_dkim": true,
                    "domain_group_name": "Group A Updated",
                    "has_managed_dmarc": true,
                    "is_domain_verified": true,
                    "has_managed_mta_sts": false,
                    "non_compliant_volume": 100,
                    "possible_dkim_selectors": "default",
                    "previous_compliant_volume": 1400,
                    "previous_non_compliant_volume": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain group updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainGroup"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "name": "Group 1",
                      "domains": [
                        "domain1.com",
                        "domain2.com",
                        "domain3.com"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete a domain group",
        "operationId": "deleteDomainGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain group deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/domain-groups/{id}/domains": {
      "servers": [],
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "🚧 Add domains to a domain group",
        "operationId": "addDomainsToGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of domains to add to the group.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "domains"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "domains": [
                      "example1.com",
                      "example2.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domains added to the group successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "AddDomainsToGroupOk",
                  "properties": {
                    "groupId": {
                      "type": "string"
                    },
                    "groupName": {
                      "type": "string"
                    },
                    "domainsAdded": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "groupId": "group-a",
                      "groupName": "Group A",
                      "domainsAdded": [
                        "example1.com",
                        "example2.com"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ],
        "x-internal": true
      }
    },
    "/v1/domain-groups/{id}/domains/{domainId}": {
      "servers": [],
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Remove a domain from a domain group",
        "operationId": "deleteDomain1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain removed from group successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ],
        "x-internal": true
      }
    },
    "/v1/webhooks": {
      "servers": [],
      "post": {
        "tags": [
          "Alerting"
        ],
        "summary": "Create a new webhook",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The webhook has been successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/webhooks/owner/{ownerId}": {
      "servers": [],
      "get": {
        "tags": [
          "Alerting"
        ],
        "summary": "Get webhook list for specific owner",
        "operationId": "findAllWebhooks",
        "parameters": [
          {
            "name": "ownerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all owned webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Owner not found or no webhooks exist for this owner"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/webhooks/{id}": {
      "servers": [],
      "get": {
        "tags": [
          "Alerting"
        ],
        "summary": "Get a specific webhook",
        "operationId": "getWebhookByObjectId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "put": {
        "tags": [
          "Alerting"
        ],
        "summary": "Update a webhook",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Webhook object ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The webhook has been successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      },
      "delete": {
        "tags": [
          "Alerting"
        ],
        "summary": "Delete a webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Webhook object ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The webhook has been successfully deleted"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/webhooks/{id}/regenerate-secret": {
      "servers": [],
      "post": {
        "tags": [
          "Alerting"
        ],
        "summary": "Regenerate webhook secret",
        "operationId": "regenerateSecret",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Webhook object ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The webhook secret has been successfully regenerated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/webhooks/{id}/deliveries": {
      "servers": [],
      "get": {
        "tags": [
          "Alerting"
        ],
        "summary": "Get the list of webhook deliveries",
        "operationId": "getWebhookDeliveries",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Webhook object ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns webhook delivery history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookDelivery"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/dmarc/failure-reports": {
      "servers": [],
      "get": {
        "tags": [
          "Failure Reports"
        ],
        "summary": "Get failure reports",
        "description": "Returns a paginated list of DMARC RUF (failure/forensic) reports with comprehensive filtering and sorting capabilities. Authentication required. Response is paginated.",
        "operationId": "getFailureReports",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "Organization ID to filter reports by",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "examples": [
                "org_6464de38ebf5b013b1928408"
              ]
            }
          },
          {
            "name": "domains",
            "in": "query",
            "description": "Comma-separated list of domain names to filter reports by (minimum 1 required)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?)*\\.[a-zA-Z]{2,}(,[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?)*\\.[a-zA-Z]{2,})*$",
              "examples": [
                "example.com,test.com"
              ]
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Filter by specific report date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-15T00:00:00Z"
              ]
            }
          },
          {
            "name": "sourceIp",
            "in": "query",
            "description": "Filter by source IPv4 address",
            "required": false,
            "schema": {
              "type": "string",
              "format": "ipv4",
              "pattern": "^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$",
              "examples": [
                "192.168.1.100"
              ]
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Filter by country code (ISO 3166-1 alpha-2)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$",
              "minLength": 2,
              "maxLength": 2,
              "examples": [
                "US"
              ]
            }
          },
          {
            "name": "reporterDomain",
            "in": "query",
            "description": "Filter by reporter domain (FQDN)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?)*\\.[a-zA-Z]{2,}$",
              "examples": [
                "reporter.com"
              ]
            }
          },
          {
            "name": "ptr",
            "in": "query",
            "description": "Filter by PTR record (must be \"Unknown\" or a valid domain)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "mail.example.com"
              ]
            }
          },
          {
            "name": "ptrGroup",
            "in": "query",
            "description": "Filter by PTR group (must be \"Unknown\" or a valid domain)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "example.com"
              ]
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter reports from this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-01T00:00:00Z"
              ]
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter reports until this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-31T23:59:59Z"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "examples": [
                50
              ]
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "report_id",
                "domain",
                "header_from",
                "from",
                "to",
                "subject",
                "date",
                "headers_eml",
                "report_domain",
                "report_from",
                "report_subject",
                "report_email_body",
                "report_email_body_urls",
                "report_date",
                "source_ip",
                "ptr",
                "ptr_group",
                "country_code",
                "created"
              ],
              "default": "date",
              "examples": [
                "report_date"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "examples": [
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns paginated list of failure reports",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FailureReportListItem"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success_response": {
                    "summary": "Successful response with failure reports",
                    "value": {
                      "data": [
                        {
                          "id": "507f1f77bcf86cd799439011",
                          "domain": "example.com",
                          "sourceIp": "192.168.1.100",
                          "ptr": "mail.sender.com",
                          "ptrGroup": "sender.com",
                          "countryCode": "US",
                          "reportDate": "2024-01-15T10:30:00Z",
                          "reporter": "reporter.com",
                          "fromAddress": "sender@example.com",
                          "toAddress": "recipient@example.com",
                          "subject": "Important Message",
                          "attachmentCount": 2
                        },
                        {
                          "id": "507f1f77bcf86cd799439012",
                          "domain": "test.com",
                          "sourceIp": "10.0.0.50",
                          "ptr": "Unknown",
                          "ptrGroup": "Unknown",
                          "countryCode": "GB",
                          "reportDate": "2024-01-15T11:45:00Z",
                          "reporter": "another-reporter.com",
                          "fromAddress": "user@test.com",
                          "toAddress": "info@test.com",
                          "subject": "Test Email",
                          "attachmentCount": 0
                        }
                      ],
                      "meta": {
                        "total": 245,
                        "page": 1,
                        "pageCount": 1,
                        "limit": 10,
                        "hasPreviousPage": true,
                        "hasNextPage": true
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/dmarc/failure-reports/{id}": {
      "servers": [],
      "get": {
        "tags": [
          "Failure Reports"
        ],
        "summary": "Get failure report by ID",
        "description": "Retrieves detailed information about a single DMARC failure report by its unique identifier. Authentication required.",
        "operationId": "getFailureReportById",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "examples": [
                "org_6464de38ebf5b013b1928408"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of optional fields to include in the response.\nAvailable options: rawHeaders, emailBody, addresses, downloadUrls",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(rawHeaders|emailBody|addresses|downloadUrls)(,(rawHeaders|emailBody|addresses|downloadUrls))*$",
              "examples": [
                "rawHeaders,emailBody,downloadUrls"
              ]
            }
          },
          {
            "name": "redaction",
            "in": "query",
            "description": "Redaction level for sensitive information",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "strict",
                "none"
              ],
              "default": "strict",
              "examples": [
                "strict"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The MongoDB ObjectId of the failure report",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{24}$",
              "examples": [
                "507f1f77bcf86cd799439011"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns detailed failure report metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureReportMetadata"
                },
                "examples": {
                  "complete_report": {
                    "summary": "Complete report with all fields",
                    "value": {
                      "id": "507f1f77bcf86cd799439011",
                      "domain": "example.com",
                      "receivedAt": "2024-01-15T10:30:00Z",
                      "message": {
                        "from": "sender@example.com",
                        "to": "recipient@example.com",
                        "subject": "Important Message",
                        "headerFrom": "sender@example.com",
                        "sourceIp": "192.168.1.100",
                        "ptr": "mail.sender.com",
                        "ptrGroup": "sender.com",
                        "emailBody": "This is the email body content...",
                        "rawHeaders": "Received: from mail.sender.com...",
                        "extractedUrls": [
                          "https://example.com/link1",
                          "https://example.com/link2"
                        ],
                        "attachments": [
                          {
                            "cloud": "s3",
                            "bucket": "ruf-reports",
                            "key": "attachments/507f1f77bcf86cd799439011/0/document.pdf",
                            "filename": "document.pdf",
                            "contentType": "application/pdf",
                            "size": 102400
                          }
                        ]
                      },
                      "reportMetadata": {
                        "reportId": "report-12345",
                        "reporterDomain": "reporter.com",
                        "reportedBy": "noreply@reporter.com",
                        "reportSubject": "DMARC Failure Report",
                        "reportEmailBody": "This message failed DMARC authentication...",
                        "reportDate": "2024-01-15T10:30:00Z",
                        "countryCode": "US",
                        "location": {
                          "coordinates": [
                            -74.006,
                            40.7128
                          ]
                        }
                      },
                      "downloadLinks": {
                        "emlFile": "https://api2.easydmarc.com/v1.0/dmarc/failure-reports/reports/507f1f77bcf86cd799439011/eml?organizationId=org_6464de38ebf5b013b1928408",
                        "attachments": [
                          {
                            "cloud": "s3",
                            "bucket": "ruf-reports",
                            "key": "attachments/507f1f77bcf86cd799439011/0/document.pdf",
                            "downloadUrl": "https://api2.easydmarc.com/v1.0/dmarc/failure-reports/reports/507f1f77bcf86cd799439011/attachments/0?organizationId=org_6464de38ebf5b013b1928408"
                          }
                        ],
                        "allAttachmentsZip": "https://api2.easydmarc.com/v1.0/dmarc/failure-reports/reports/507f1f77bcf86cd799439011/attachments/all?organizationId=org_6464de38ebf5b013b1928408"
                      }
                    }
                  },
                  "with_presigned_urls": {
                    "summary": "Report with presigned download URLs",
                    "value": {
                      "id": "507f1f77bcf86cd799439011",
                      "domain": "example.com",
                      "receivedAt": "2024-01-15T10:30:00Z",
                      "message": {
                        "from": "sender@example.com",
                        "to": "recipient@example.com",
                        "subject": "Important Message",
                        "headerFrom": "sender@example.com",
                        "sourceIp": "192.168.1.100",
                        "ptr": "mail.sender.com",
                        "ptrGroup": "sender.com",
                        "attachments": [
                          {
                            "cloud": "s3",
                            "bucket": "ruf-reports",
                            "key": "attachments/507f1f77bcf86cd799439011/0/document.pdf",
                            "filename": "document.pdf",
                            "contentType": "application/pdf",
                            "size": 102400
                          }
                        ]
                      },
                      "reportMetadata": {
                        "reportId": "report-12345",
                        "reporterDomain": "reporter.com",
                        "reportedBy": "noreply@reporter.com",
                        "reportSubject": "DMARC Failure Report",
                        "reportDate": "2024-01-15T10:30:00Z",
                        "countryCode": "US"
                      },
                      "presignedDownloadLinks": {
                        "emlFile": "https://s3.amazonaws.com/ruf-reports/eml/report-12345?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=...",
                        "attachments": [
                          {
                            "cloud": "s3",
                            "bucket": "ruf-reports",
                            "key": "attachments/507f1f77bcf86cd799439011/0/document.pdf",
                            "presignedUrl": "https://s3.amazonaws.com/ruf-reports/attachments/507f1f77bcf86cd799439011/0/document.pdf?X-Amz-Algorithm=...",
                            "expiresAt": "2024-01-15T10:35:00Z"
                          }
                        ],
                        "allAttachmentsZip": "https://s3.amazonaws.com/ruf-reports/zip/report-12345/all-attachments.zip?X-Amz-Algorithm=..."
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, private"
                },
                "description": "Cache control header (set to 'no-store, private' when downloadUrls are included)"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/dmarc/failure-reports/{id}/eml": {
      "servers": [],
      "get": {
        "tags": [
          "Failure Reports"
        ],
        "summary": "Download EML file for a failure report",
        "description": "Generates a presigned download URL for the original EML (email message) file associated with a failure report.\n\nThe URL is valid for 300 seconds (5 minutes) and must be used before expiration.\n\nAuthentication required.",
        "operationId": "downloadEml",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "examples": [
                "org_6464de38ebf5b013b1928408"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The MongoDB ObjectId of the failure report",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{24}$",
              "examples": [
                "507f1f77bcf86cd799439011"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns presigned download URL for EML file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlResponse"
                },
                "examples": {
                  "eml_download": {
                    "summary": "EML download URL",
                    "value": {
                      "data": {
                        "downloadUrl": "https://s3.amazonaws.com/ruf-reports/ruf-eml/report-12345?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=...",
                        "expiresAt": "2024-01-15T10:35:00Z"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, private"
                },
                "description": "Cache control header"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/dmarc/failure-reports/{id}/attachments/{index}": {
      "servers": [],
      "get": {
        "tags": [
          "Failure Reports"
        ],
        "summary": "Download specific attachment from a failure report",
        "description": "Generates a presigned download URL for a specific attachment from a failure report.\n\nThe URL is valid for 300 seconds (5 minutes) and must be used before expiration.\nAttachment index is 0-based.\n\nAuthentication required.",
        "operationId": "downloadAttachment",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "examples": [
                "org_6464de38ebf5b013b1928408"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The MongoDB ObjectId of the failure report",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{24}$",
              "examples": [
                "507f1f77bcf86cd799439011"
              ]
            }
          },
          {
            "name": "index",
            "in": "path",
            "description": "Zero-based index of the attachment to download",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "examples": [
                0
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns presigned download URL for the attachment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlResponse"
                },
                "examples": {
                  "attachment_download": {
                    "summary": "Attachment download URL",
                    "value": {
                      "data": {
                        "downloadUrl": "https://s3.amazonaws.com/ruf-reports/attachments/507f1f77bcf86cd799439011/0/document.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=...",
                        "expiresAt": "2024-01-15T10:35:00Z"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, private"
                },
                "description": "Cache control header"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/dmarc/failure-reports/{id}/attachments/all": {
      "servers": [],
      "get": {
        "tags": [
          "Failure Reports"
        ],
        "summary": "Download all attachments as a ZIP archive",
        "description": "Generates a presigned download URL for a ZIP archive containing all attachments from a failure report.\n\nThe URL is valid for 300 seconds (5 minutes) and must be used before expiration.\n\nAuthentication required.",
        "operationId": "downloadAllAttachments",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "examples": [
                "org_6464de38ebf5b013b1928408"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The MongoDB ObjectId of the failure report",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{24}$",
              "examples": [
                "507f1f77bcf86cd799439011"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns presigned download URL for ZIP archive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlResponse"
                },
                "examples": {
                  "zip_download": {
                    "summary": "ZIP archive download URL",
                    "value": {
                      "data": {
                        "downloadUrl": "https://s3.amazonaws.com/ruf-reports/ruf-zip/report-12345/all-attachments.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=...",
                        "expiresAt": "2024-01-15T10:35:00Z"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, private"
                },
                "description": "Cache control header"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/v1/dmarc/failure-reports/aggregates": {
      "servers": [],
      "get": {
        "tags": [
          "Failure Reports"
        ],
        "summary": "Get aggregated statistics for failure reports",
        "description": "Returns aggregated statistics and dimensional breakdowns for DMARC failure reports.\n\nFeatures:\n- Aggregate by multiple dimensions (reporter, ptrGroup, countryCode, domain)\n- Filter by domain names, date range, source IP, country code, reporter domain\n- Control top N results per dimension\n- Set minimum count threshold\n- Sort by count or key\n- Summary statistics including total reports, unique domains, unique reporters\n\nAuthentication required.",
        "operationId": "getFailureReportsAggregates",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "Organization ID to filter reports by",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "examples": [
                "org_6464de38ebf5b013b1928408"
              ]
            }
          },
          {
            "name": "domains",
            "in": "query",
            "description": "Comma-separated list of domain names to filter reports by (minimum 1 required)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?)*\\.[a-zA-Z]{2,}(,[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?)*\\.[a-zA-Z]{2,})*$",
              "examples": [
                "example.com,test.com"
              ]
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Aggregate reports from this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-01T00:00:00Z"
              ]
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Aggregate reports until this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-31T23:59:59Z"
              ]
            }
          },
          {
            "name": "reporterDomain",
            "in": "query",
            "description": "Filter by reporter domain (FQDN)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-_]{0,61}[a-zA-Z0-9])?)*\\.[a-zA-Z]{2,}$",
              "examples": [
                "reporter.com"
              ]
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Filter by specific report date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-15T00:00:00Z"
              ]
            }
          },
          {
            "name": "ptr",
            "in": "query",
            "description": "Filter by PTR record (must be \"Unknown\" or a valid domain)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "mail.example.com"
              ]
            }
          },
          {
            "name": "ptrGroup",
            "in": "query",
            "description": "Filter by PTR group (must be \"Unknown\" or a valid domain)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "example.com"
              ]
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Filter by country code (ISO 3166-1 alpha-2)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$",
              "minLength": 2,
              "maxLength": 2,
              "examples": [
                "US"
              ]
            }
          },
          {
            "name": "sourceIp",
            "in": "query",
            "description": "Filter by source IPv4 address",
            "required": false,
            "schema": {
              "type": "string",
              "format": "ipv4",
              "pattern": "^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$",
              "examples": [
                "192.168.1.100"
              ]
            }
          },
          {
            "name": "dimensions",
            "in": "query",
            "description": "Comma-separated list of dimensions to aggregate by (minimum 1 required, must be unique)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(reporter|ptrGroup|countryCode|domain)(,(reporter|ptrGroup|countryCode|domain))*$",
              "examples": [
                "reporter,countryCode"
              ]
            }
          },
          {
            "name": "topN",
            "in": "query",
            "description": "Number of top results to return per dimension",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "examples": [
                20
              ]
            }
          },
          {
            "name": "minCount",
            "in": "query",
            "description": "Minimum count threshold for results (filters out entries below this count)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                5
              ]
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Field to sort aggregation results by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "count",
                "key"
              ],
              "default": "count",
              "examples": [
                "count"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction for aggregation results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "examples": [
                "desc"
              ]
            }
          },
          {
            "name": "hasAttachments",
            "in": "query",
            "description": "Filter reports by attachment presence",
            "required": false,
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns aggregated statistics and dimensional breakdowns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureReportsAggregates"
                },
                "examples": {
                  "aggregates_response": {
                    "summary": "Aggregated statistics response",
                    "value": {
                      "dimensions": [
                        {
                          "dimension": "reporter",
                          "buckets": [
                            {
                              "key": "reporter1.com",
                              "count": 150
                            },
                            {
                              "key": "reporter2.com",
                              "count": 89
                            },
                            {
                              "key": "reporter3.com",
                              "count": 45
                            }
                          ]
                        },
                        {
                          "dimension": "countryCode",
                          "buckets": [
                            {
                              "key": "US",
                              "count": 180
                            },
                            {
                              "key": "GB",
                              "count": 67
                            },
                            {
                              "key": "DE",
                              "count": 37
                            }
                          ]
                        }
                      ],
                      "summary": {
                        "totalReports": 284,
                        "uniqueDomains": 5,
                        "uniqueReporters": 12,
                        "dateRange": {
                          "from": "2024-01-01T00:00:00Z",
                          "to": "2024-01-31T23:59:59Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api2.easydmarc.com",
            "description": "Live"
          }
        ]
      }
    },
    "/auth/magic-link": {
      "servers": [
        {
          "url": "https://api2.easydmarc.com"
        }
      ],
      "post": {
        "description": "Generates a short-lived, one-time URL that authenticates a specific user into a specific organization, then redirects them to your chosen EasyDMARC URI.\n\n## Using the Magic Link\n1. Your backend calls POST /auth/magic-link with userId, organizationId, redirectUri.\n2. API returns a single-use url and expiringAt.\n3. Redirect the user (HTTP 302) or render a button that navigates to url.\n4. The user is authenticated and then redirected to redirectUri within EasyDMARC.\n\nNotes\n- Treat the returned url as a credential: never log or expose it broadly.\n- The link expires at expiringAt; do not cache beyond that time.\n- A new link should be generated per session/initiation.\n\n\n## Examples\n\n**cURL**\n```\ncurl -X POST \"https://api2.easydmarc.com/auth/magic-link\" \\\n  -H \"Authorization: Bearer $EASYDMARC_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"userId\": \"c99cf9f3-f946-4707-9984-a19bf2d57841\",\n    \"organizationId\": \"org_0987654321\",\n    \"redirectUri\": \"https://account-console.easydmarc.com\"\n  }'\n```\n\nSecurity Best Practices\n- Send the request server-to-server only; never expose your API token to the browser or client apps.\n- Do not log full magic links; if needed, mask them.\n- Prefer short validity windows for operational usage; launch the redirect immediately after generating the link.",
        "operationId": "createMagicLink",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "Magic link generation request with user, organization, and redirect information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated magic link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MagicLink"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input or missing parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing Bearer token"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Generate login magic link",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/auth/token": {
      "servers": [
        {
          "url": "https://api2.easydmarc.com"
        }
      ],
      "post": {
        "description": "Authenticates your client credentials and returns a bearer token required for accessing protected API endpoints.\n\n",
        "operationId": "getAuthToken",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated. A successful request returns a bearer token and related metadata:\n\n**Response Fields**\n- access_token (string): The token used to authenticate API requests. Include this in the Authorization header as Bearer <access_token>.\n- expires_in (number): Token validity duration in seconds (e.g. 300 = 5 minutes).\n- refresh_expires_in (number): Always 0 – token refresh is not supported.\n- token_type (string): Always Bearer.\n- not-before-policy (number): Internal policy value (typically 0), safe to ignore.\n- scope (string): Scope of access for the token (e.g. public-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Authentication Failed"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Obtain authentication token",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/v1/organizations": {
      "servers": [
        {
          "url": "https://api2.easydmarc.com"
        }
      ],
      "post": {
        "description": "Creates a new organization within the partner tenant with the specified name.",
        "operationId": "createOrganization",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "Organization object that needs to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganization"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortOrganization"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters - Required parameter is missing or invalid"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to create organizations"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "bearer": []
          }
        ],
[...]
